<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статьи за неделю</title>
</head>
<body>
    <h4>Добрый день, уважаемый пользователь нашего сайта!</h4>
    <p>Хорошо всегда быть в курсе последних событий! Мы предлагаем вам ознакомиться с новыми постами за
        последнюю неделю!</p>
        <ul>
            {% for post in posts%}
                <li><a href="{{ link }}/posts/{{ post.pk }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    <p>Всегда рады видеть Вас на нашем сайте!</p>
</body>
</html>